---
layout: base.njk
title: My Awesome Nunjucks Blog Post
---

<h1>{{ title }}</h1>
<p>Welcome to my awesome blog post powered by 11ty and Nunjucks!</p>
<img src="/assets/img/HMOriginal-3950C463-6004-43C2-A0D6-C3964355F37C.jpg" eleventy:widths="600,1000" sizes="100vw" alt="An awesome image">
<p>Enjoy reading and exploring more content on my site.</p>
<img src="/assets/img/HMOriginal-CE7CEDFF-B180-42E3-ABBA-2CB22DC4765F.jpg" eleventy:widths="600,1000" sizes="100vw" loading="eager" decoding="sync" alt="An awesome image">
<p>Enjoy reading and exploring more content on my site.</p>
<img src="/assets/img/HMOriginal-F6B8C988-E890-42BD-8846-C2DCBA8C4C51.jpg" eleventy:widths="600,1000" sizes="100vw" loading="eager" decoding="sync" alt="An awesome image">
<p>Enjoy reading and exploring more content on my site.</p>