---
layout: base.njk
title: My Awesome Nunjucks Blog Post
---

<h1>{{ title }}</h1>
<p>Welcome to my awesome blog post powered by 11ty and Nunjucks!</p>
<img src="./assets/img/HMOriginal-3950C463-6004-43C2-A0D6-C3964355F37C.jpg" sizes="(max-width: 600px) 200px, 600px" alt="An awesome image">
<p>Enjoy reading and exploring more content on my site.</p>